<article id="blog-list" class="blog-list article gradient-7">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">The Blog</h2>
            <section class="item col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1 col-xs-push-0">   
                <div class="item-inner" >                                                                                     
                    <figure class="figure-wrapper text-center">
                        <a href="#blog-post"><img class="img-responsive" src="assets/images/blog/blog-1.jpg" alt=""></a>
                    </figure>
                    <div class="content-wrapper">
                        <h3 class="post-title"><a href="#blog-post">Top 10 nemo enim ipsam voluptatem in 2015</a></h3>  
                        <div class="meta">
                            <figure class="author-profile">
                                <img class="img-responsive img-circle" src="assets/images/blog/authors/author-1.png" alt="" />
                            </figure>
                            <ul class="meta-list list-unstyled">                                       
                            	<li class="post-time post_date date updated">
                            	    <i class="fa fa-calendar-o"></i> <span class="hidden-xs" >Published:</span> <a href="#">Feb 18, 2015</a>
                                </li>
                            	<li class="post-author"><i class="fa fa-user"></i> <span class="hidden-xs" >By:</span> <a href="#">Jacob Austin  | CEO, Atom</a></li>
                            	
                            	<li class="post-comments-link">
                        	        <i class="fa fa-comment-o"></i> <span class="hidden-xs" >Comments:</span> <a href="blog-post.html#comment-area">5</a>
                        	    </li>
                        	    
                        	</ul><!--//meta-list-->                           	
                        </div><!--//meta-list--> 
                        <div class="content">
                            <div class="desc">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo...</p>
                                <a class="read-more" href="blog-post.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div><!--//desc-->
                        </div><!--//content-->
                    </div><!--//content-wrapper-->      
                </div><!--//item-inner-->                         
            </section><!--//item-->
            
            <section class="item col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1 col-xs-push-0">   
                <div class="item-inner" >                                                                                     
                    <figure class="figure-wrapper text-center">
                        <a href="#blog-post"><img class="img-responsive" src="assets/images/blog/blog-2.jpg" alt=""></a>
                    </figure>
                    <div class="content-wrapper">
                        <h3 class="post-title"><a href="#blog-post">5 Best Mobile Web App Frameworks</a></h3>  
                        <div class="meta">
                            <figure class="author-profile">
                                <img class="img-responsive img-circle" src="assets/images/blog/authors/author-2.png" alt="" />
                            </figure>
                            <ul class="meta-list list-unstyled">                                       
                            	<li class="post-time post_date date updated">
                            	    <i class="fa fa-calendar-o"></i> <span class="hidden-xs" >Published:</span> <a href="#">Jan 25, 2015</a>
                                </li>
                            	<li class="post-author"><i class="fa fa-user"></i> <span class="hidden-xs" >By:</span> <a href="#">Alan Gutierrez  | App Developer, Atom</a></li>
                            	
                            	<li class="post-comments-link">
                        	        <i class="fa fa-comment-o"></i> <span class="hidden-xs" >Comments:</span> <a href="blog-post.html#comment-area">12</a>
                        	    </li>
                        	    
                        	</ul><!--//meta-list-->                           	
                        </div><!--//meta-list--> 
                        <div class="content">
                            <div class="desc">
                                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit...</p>
                                <a class="read-more" href="#blog-post">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div><!--//desc-->
                        </div><!--//content-->
                    </div><!--//content-wrapper-->      
                </div><!--//item-inner-->                         
            </section><!--//item-->   
            
            <section class="item col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1 col-xs-push-0">   
                <div class="item-inner" >                                                                                     
                    <figure class="figure-wrapper text-center">
                        <a href="blog-post.html"><img class="img-responsive" src="assets/images/blog/blog-3.jpg" alt=""></a>
                    </figure>
                    <div class="content-wrapper">
                        <h3 class="post-title"><a href="#blog-post">Lacus pharetra mollis molestie</a></h3>  
                        <div class="meta">
                            <figure class="author-profile">
                                <img class="img-responsive img-circle" src="assets/images/blog/authors/author-3.png" alt="" />
                            </figure>
                            <ul class="meta-list list-unstyled">                                       
                            	<li class="post-time post_date date updated">
                            	    <i class="fa fa-calendar-o"></i> <span class="hidden-xs" >Published:</span> <a href="#">Dec 07, 2014</a>
                                </li>
                            	<li class="post-author"><i class="fa fa-user"></i> <span class="hidden-xs" >By:</span> <a href="#">Kelly Peterson  | Marketing, Atom</a></li>
                            	
                            	<li class="post-comments-link">
                        	        <i class="fa fa-comment-o"></i> <span class="hidden-xs" >Comments:</span> <a href="#blog-post#comment-area">2</a>
                        	    </li>
                        	    
                        	</ul><!--//meta-list-->                           	
                        </div><!--//meta-list--> 
                        <div class="content">
                            <div class="desc">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio...</p>
                                <a class="read-more" href="#blog-post">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div><!--//desc-->
                        </div><!--//content-->
                    </div><!--//content-wrapper-->      
                </div><!--//item-inner-->                         
            </section><!--//item--> 
            
            <section class="item col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1 col-xs-push-0">   
                <div class="item-inner" >                                                                                     
                    <figure class="figure-wrapper text-center">
                        <a href="blog-post.html"><img class="img-responsive" src="assets/images/blog/blog-4.jpg" alt=""></a>
                    </figure>
                    <div class="content-wrapper">
                        <h3 class="post-title"><a href="blog-post.html">Lacus pharetra mollis molestie</a></h3>  
                        <div class="meta">
                            <figure class="author-profile">
                                <img class="img-responsive img-circle" src="assets/images/blog/authors/author-4.png" alt="" />
                            </figure>
                            <ul class="meta-list list-unstyled">                                       
                            	<li class="post-time post_date date updated">
                            	    <i class="fa fa-calendar-o"></i> <span class="hidden-xs" >Published:</span> <a href="#">Nov 21, 2014</a>
                                </li>
                            	<li class="post-author"><i class="fa fa-user"></i> <span class="hidden-xs" >By:</span> <a href="#">Philip Lawson  | CTO, Atom</a></li>
                            	
                            	<li class="post-comments-link">
                        	        <i class="fa fa-comment-o"></i> <span class="hidden-xs" >Comments:</span> <a href="blog-post.html#comment-area">3</a>
                        	    </li>
                        	    
                        	</ul><!--//meta-list-->                           	
                        </div><!--//meta--> 
                        <div class="content">
                            <div class="desc">
                                <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus...</p>
                                <a class="read-more" href="blog-post.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div><!--//desc-->
                        </div><!--//content-->
                    </div><!--//content-wrapper-->      
                </div><!--//item-inner-->                         
            </section><!--//item--> 
            
            <section class="item col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1 col-xs-push-0">   
                <div class="item-inner" >                                                                                     
                    <figure class="figure-wrapper text-center">
                        <a href="blog-post.html"><img class="img-responsive" src="assets/images/blog/blog-5.jpg" alt=""></a>
                    </figure>
                    <div class="content-wrapper">
                        <h3 class="post-title"><a href="blog-post.html">Lacus pharetra mollis molestie</a></h3>  
                        <div class="meta">
                            <figure class="author-profile">
                                <img class="img-responsive img-circle" src="assets/images/blog/authors/author-1.png" alt="" />
                            </figure>
                            <ul class="meta-list list-unstyled">                                       
                            	<li class="post-time post_date date updated">
                            	    <i class="fa fa-calendar-o"></i> <span class="hidden-xs" >Published:</span> <a href="#">Oct 12, 2014</a>
                                </li>
                            	<li class="post-author"><i class="fa fa-user"></i> <span class="hidden-xs" >By:</span> <a href="#">Jacob Austin  | CEO, Atom</a></li>
                            	
                            	<li class="post-comments-link">
                        	        <i class="fa fa-comment-o"></i> <span class="hidden-xs" >Comments:</span> <a href="blog-post.html#comment-area">3</a>
                        	    </li>
                        	    
                        	</ul><!--//meta-list-->                           	
                        </div><!--//meta-list--> 
                        <div class="content">
                            <div class="desc">
                                <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus...</p>
                                <a class="read-more" href="blog-post.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div><!--//desc-->
                        </div><!--//content-->
                    </div><!--//content-wrapper-->      
                </div><!--//item-inner-->                         
            </section><!--//item-->
        </div><!--//row-->    
        <div class="pagination-container text-center">
            <ul class="pagination">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul><!--//pagination-->
        </div>     
    </div><!--//container-->
</article>  