<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="1" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol> -->
    <div class="carousel-inner" role="listbox">
        <!-- <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We craft<br/>
                        brands, web apps,<br/>
                        and user interfaces<br/>
                        we are IN+ studio</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                        <a class="caption-link" href="#" role="button">Inspinia Theme</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <div class="header-back one"></div>

        </div> -->
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>基于区块链的下一代存储服务</h1>
                    <p>of the people, by the people, for the people</p>
                    <!--<p>-->
                    <!--<a href="https://xbee.gitbooks.io/whitepaper/content/" target="_blank">-->
                    <!--<button type="button" class="btn btn-success btn-lg">白皮书在线预览</button>-->
                    <!--</a>-->
                    <!--</p>-->
                </div>
            </div>

            <div class="header-back two"></div>
        </div>
    </div>
    <!-- <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
</div>
<!--ICO-->
<section id="service" class="gray-section" style="margin-top: 0;">
    <div class="container">
        <div class="row text-center">
            <h1>信链 ICO 正在进行中</h1>
        </div>

        <div class="row col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-6">
                        <i class="fa fa-fire fa-5x" style="color:#d9534f"></i>
                    </div>

                    <div class="col-xs-6">
                        <h2>
                            <a class="btn btn-danger" href="https://ico.xinlian.io"
                               target="_blank">进入 ICO 页面</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-6">
                        <i class="fa fa-wechat fa-5x" style="color:#5eb95e"></i>
                    </div>

                    <div class="col-xs-6">
                        <h2>
                            <button class="btn btn-success" data-toggle="modal" data-target=".weixin-qr-modal">加入微信交流群
                            </button>
                        </h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--技术特性-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center tech-top-m">
                <!--<h1 class="con-tec">技术特性</h1>-->
                <img src="img/title/techn.png" class="til-img">

            </div>
        </div>
        <div class="row technology">
            <div class="row col-xs-12">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-handshake-o features-icon"></i>
                    <h2>创新的高效共识算法</h2>
                    <p>无需挖矿，节省能源；</p>
                    <p>更加公平合理，构建高效生态</p>
                    <p>增强性能和可靠性</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-address-card features-icon"></i>
                    <h2>完善的隐私保护</h2>
                    <p>保密交易和账号信息、智能合约内容。</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-group features-icon"></i>
                    <h2>灵活的权限控制</h2>
                    <p>基于角色的权限控制</p>
                    <p>基于属性的权限控制</p>
                    <p></p>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-lock features-icon"></i>
                    <h2>工业级加密算法</h2>
                    <p>行业最高标准的安全等级</p>
                    <p>同时支持国家标准和国际标准，保证处处可用</p>
                    <p></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-file-pdf-o features-icon"></i>
                    <h2>确保安全的智能合约</h2>
                    <p>支持多种流行的编程语言</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-truck features-icon"></i>
                    <h2>完善的机制处理数据积压</h2>
                    <p>可配置的轻客户端，可以按需删除过往数据，减少空间的占用</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--我们的团队-->
<section id="team" class="gray-section team">
    <div class="container">
        <div class="row col-xs-12 text-center">
            <!--<div class="navy-line"></div> -->
            <img src="img/title/ours.png" class="til-img">
        </div>

        <div class="row">
            <!--<h1 class="text-center pageTitle">我们的团队</h1>-->
            <div class="col-sm-5 col-xs-12 team-member wow zoomIn">
                <img src="img/landing/hlf.jpg" class="img-responsive img-circle" alt="">

            </div>
            <div class="col-sm-7 col-xs-12  text-left" id="team-contai">

                <h4 class="text-left"><span class="navy">黄立峰</span></h4>
                <p>北京魔镜科技创始人，16年IT经验的技术极客，区块链及密码学技术专家，<a href="http://qkldx.net">区块链大学</a>校长，信链项目发起人，首届中关村区块链创新应用大赛决赛评委，公司是中关村区块链产业联盟会员单位。</p>
            </div>
        </div>

    </div>
    <!--赵建兵 sec-->
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-sm-5 col-xs-12 team-member wow zoomIn">
                <img src="img/landing/zhaojianbing.jpg" class="img-responsive img-circle"
                     style="width: 128px;height: 128px;">

            </div>
            <div class="col-sm-7 col-xs-12  text-left team-m" id="team-3">
                <h4 class="text-left"><span class="navy">赵建兵</span></h4>
                <p>区块链开发工程师，曾就职于专业存储研发公司，从事 Unix/Linux 文件系统开发 4 年，在系统构架、大数据处理、高并发控制、分布式系统设计等方面有丰富的经验。</p>
            </div>
        </div>
    </div>
    <!--李书德 sec-->
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-sm-5 col-xs-12 team-member wow zoomIn">
                <img src="img/landing/lishude.jpg" class="img-responsive img-circle"
                     style="width: 128px;height: 128px;">

            </div>
            <div class="col-sm-7 col-xs-12  text-left team-m" id="team-2">
                <h4 class="text-left"><span class="navy">李书德</span></h4>
                <p>运营经理、前端开发工程师，2013年接触比特币，熟悉各类区块链原理及相关技术，在媒体宣传、市场调研、商务合作等方面有丰富经验。</p>
            </div>
        </div>
    </div>

    <!--张鹏 sec-->
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-sm-5 col-xs-12 team-member wow zoomIn">
                <img src="img/landing/zhangpeng.jpg" class="img-responsive img-circle"
                     style="width: 128px;height: 128px;">

            </div>
            <div class="col-sm-7 col-xs-12  text-left team-m" id="team-4">
                <h4 class="text-left"><span class="navy">张鹏</span></h4>
                <p>设计师，做过移动APP端、PC端的视觉/交互设计，注重细节，对用户体验有了解和认识，界面设计经验方面丰富。</p>
            </div>
        </div>
    </div>
</section>

<section id="recrui" class="gray-pe">
    <div class="container">
        <div class="row">
            <img src="img/title/talent-pep.png" class="til-img">
            <!--<div class="navy-line"></div> -->

        </div>
        <div class="row">

            <div class="col-sm-5 col-xs-12 team-member wow zoomIn">
                <img src="img/landing/pin.png" class="img-responsive img-circle" alt="">

            </div>
            <div class="col-sm-7 col-xs-12  text-left inv-talen" id="invit-tal">
                <div>
                    <a href="#" class="inv-app-a1"></a>
                    <a href="https://www.lagou.com/gongsi/133573.html" class="inv-app-a2"></a><!--拉钩网-->
                    <div class="clear"></div>
                </div>
                <p>点击上方标识进入网站，了解招聘详细信息。</p>
                <span>电话：010-57269849</span>
                <br/>
                <span>邮箱：hr@mojing.com</span>
            </div>
        </div>

    </div>
</section>
<!--联系我们-->
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg text-center">
            <!--<div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>联系我们</h1>
            </div>-->
            <img src="img/title/conta.png" class="til-img">
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <address>
                    <strong><span class="navy">北京魔镜科技有限公司</span></strong><br/>
                    北京市昌平区天通中苑<br/>
                    <abbr title="座机">电话:</abbr> 010-57269849
                </address>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:hfeeki@qkldx.net" class="btn btn-primary">马上给我们发邮件</a>
                <!-- <p class="m-t-sm">
                    在社交平台上关注我们
                </p> 
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 北京魔镜科技有限公司</strong><br/></p>
            </div>
        </div>
    </div>

</section>

<!--微信二维码模态框-->
<div class="modal fade weixin-qr-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row text-center">
                <p>请扫描二维码添加信链微信<br/>备注“ICO”即可加入信链ICO众筹交流群</p>
                <img src="img/lishude-weixin-qr.jpg" style="width: 150px;height: 150px" alt="信链微信">
            </div>
        </div>
    </div>
</div>