<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="1" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol> -->
    <div class="carousel-inner" role="listbox">
        <!-- <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We craft<br/>
                        brands, web apps,<br/>
                        and user interfaces<br/>
                        we are IN+ studio</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                        <a class="caption-link" href="#" role="button">Inspinia Theme</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <div class="header-back one"></div>

        </div> -->
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                     <h1>连接全世界人与机器 <br/> 保护每个人的隐私，促进数据共享</h1>
                     <p>of the people, by the people, for the people</p>
                </div>
            </div>
            
            <div class="header-back two"></div>
        </div>
    </div>
    <!-- <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
</div>

<section id="features" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center tech-top-m">
            <!--<h1 class="con-tec">技术特性</h1>-->
            <img src="img/title/techn.png" class="til-img">

        </div>
    </div>
    <div class="row technology">
        <div class="row col-xs-12">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                               <i class="fa fa-handshake-o features-icon"></i>
                               <h2>创新的高效共识算法</h2>
                               <p>无需挖矿，节省能源；</p>
                               <p>更加公平合理，构建高效生态</p>
                               <p>增强性能和可靠性</p>
                           </div>
                           <div class="col-md-4 col-sm-6 col-xs-12">
                               <i class="fa fa-address-card features-icon"></i>
                                               <h2>完善的隐私保护</h2>
                                               <p>保密交易和账号信息、智能合约内容。</p>
                                               <p></p>
                                               <p></p>
                           </div>
                           <div class="col-md-4 col-sm-6 col-xs-12">
                                <i class="fa fa-group features-icon"></i>
                                                <h2>灵活的权限控制</h2>
                                                <p>基于角色的权限控制</p>
                                                <p>基于属性的权限控制</p>
                                                <p></p>
                           </div>


                            <div class="col-md-4 col-sm-6 col-xs-12">
                                 <i class="fa fa-lock features-icon"></i>
                                                 <h2>工业级加密算法</h2>
                                                 <p>行业最高标准的安全等级</p>
                                                 <p>同时支持国家标准和国际标准，保证处处可用</p>
                                                 <p></p>
                           </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                                  <i class="fa fa-file-pdf-o features-icon"></i>
                                                  <h2>确保安全的智能合约</h2>
                                                  <p>支持多种流行的编程语言</p>
                                                  <p></p>
                                                  <p></p>
                           </div>
                           <div class="col-md-4 col-sm-6 col-xs-12">
                                   <i class="fa fa-truck features-icon"></i>
                                                   <h2>完善的机制处理数据积压</h2>
                                                   <p>可配置的轻客户端，可以按需删除过往数据，减少空间的占用</p>
                                                   <p></p>
                                                   <p></p>
                           </div>
        </div>

    </div>

    <!--<div class="row">
            <div class="col-md-4 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-mobile features-icon"></i>
                    <h2>创新的高效共识算法</h2>
                    <p>无需挖矿，节省能源；</p>
                    <p>更加公平合理，构建高效生态</p>
                    <p>增强性能和可靠性</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-bar-chart features-icon"></i>
                    <h2>完善的隐私保护</h2>
                    <p>保密交易和账号信息、智能合约内容。</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-envelope features-icon"></i>
                    <h2>灵活的权限控制</h2>
                    <p>基于角色的权限控制</p>
                    <p>基于属性的权限控制</p>
                    <p></p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-google features-icon"></i>
                    <h2>工业级加密算法</h2>
                    <p>行业最高标准的安全等级</p>
                    <p>同时支持国家标准和国际标准，保证处处可用</p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-envelope features-icon"></i>
                    <h2>确保安全的智能合约</h2>
                    <p>支持多种流行的编程语言</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-google features-icon"></i>
                    <h2>完善的机制处理数据积压</h2>
                    <p>可配置的轻客户端，可以按需删除过往数据，减少空间的占用</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>-->
</section>
<!--我们的团队-->
<section id="team" class="gray-section team">
    <div class="container">
     <div class="row col-xs-12 text-center">
                  <!--<div class="navy-line"></div> -->
                <img src="img/title/ours.png" class="til-img">
     </div>

                <div class="row">
                    <!--<h1 class="text-center pageTitle">我们的团队</h1>-->
                    <div class="col-sm-5 col-xs-12 team-member wow zoomIn">
                       <img src="img/landing/hlf.jpg" class="img-responsive img-circle" alt="">

                    </div>
                <div class="col-sm-7 col-xs-12  text-left" id="team-contai">

                                  <h4 class="text-left"><span class="navy">黄立峰</span></h4>
                                  <p>创始人。曾是华为、快播等知名IT公司的优秀员工，具有15年经验的技术极客，区块链及密码学技术专家，区块链技术狂热布道者、培训讲师，<a href="http://www.qkldx.net">区块链大学</a>校长.</p>
                                   <p>拥有深厚的p2p网络、分布式系统、信息安全技术、隐私保护技术、支付技术和对未来互联网技术研究背景，具备非常强大的区块链系统研发实力。</p>
                 </div>
            </div>

    </div>
</section>

<!--<section id="about" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    关于魔镜科技
                </h1>
                <div class="testimonials-text">
                    <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
                </div>
                <small>
                    <strong>12.02.2014 - Andy Smith</strong>
                </small>
            </div>
        </div>
    </div>

</section>-->
<!--我们的服务-->
<!--<section id="service">

    <div class="container service">
        <div class="col-xs-12 text-center">
              <h1>我们的服务</h1>
        </div>
        <div class="row col-md-6 col-xs-12">
            <div class="col-xs-9">
                <p class="serv-title">ssss</p>
                <h1>perfectly designer</h1>
                <p>perfectly designerperfectly designerperfectly designerperfectly designerperfectly designer</p>
            </div>
            <div class="col-xs-3 phto">
                <a class="a1"></a>
            </div>
        </div>
        <div class="row col-md-6 col-xs-12">
             <div class="col-xs-9">
                 <p class="serv-title">ssss</p>
                 <h1>perfectly designer</h1>
                 <p>perfectly designerperfectly designerperfectly designerperfectly designerperfectly designer</p>
             </div>
             <div class="col-xs-3 phto">
                   <a class="a2"></a>
             </div>
        </div>
        <div class="row col-md-6 col-xs-12">
              <div class="col-xs-9">
                  <p class="serv-title">ssss</p>
                  <h1>perfectly designer</h1>
                   <p>perfectly designerperfectly designerperfectly designerperfectly designerperfectly designer</p>
              </div>
              <div class="col-xs-3 phto">
                       <a class="a3"></a>
              </div>
        </div>
        <div class="row col-md-6 col-xs-12">
              <div class="col-xs-9">
                  <p class="serv-title">ssss</p>
                  <h1>perfectly designer</h1>
                   <p>perfectly designerperfectly designerperfectly designerperfectly designerperfectly designer</p>
              </div>
         <div class="col-xs-3 phto">
               <a class="a4"></a>
         </div>
         </div>
    </div>

</section>-->

<!-- <section class="features" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>我们的服务</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>区块链平台服务(BaaS)</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>公有链：数据共同管理。</p>
                <p>区块链应用开发SDK。</p>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Perfectly designed </h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>定制化开发</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <h2>行业解决方案</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
    </div>

</section> -->
<!--招贤纳士-->
<section id="recrui" class="gray-pe">
     <div class="container">
         <div class="row">
                <img src="img/title/talent-pep.png" class="til-img">
                      <!--<div class="navy-line"></div> -->

         </div>
                    <div class="row">

                        <div class="col-sm-5 col-xs-12 team-member wow zoomIn">
                           <img src="img/landing/pin.png" class="img-responsive img-circle" alt="">

                        </div>
                    <div class="col-sm-7 col-xs-12  text-left inv-talen" id="invit-tal">
                        <div>
                            <a href="#" class="inv-app-a1"></a>
                            <a href="https://www.lagou.com/gongsi/133573.html" class="inv-app-a2"></a><!--拉钩网-->
                            <div class="clear"></div>
                        </div>
                        <p>点击上方标识进入网站，了解招聘详细信息。</p>
                        <span>电话：010-57269849</span>
                        <br/>
                        <span>邮箱：hr@mojing.com</span>
                     </div>
                </div>

        </div>
</section>
<!--联系我们-->
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg text-center">
            <!--<div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>联系我们</h1>
            </div>-->
             <img src="img/title/conta.png" class="til-img">
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <address>
                    <strong><span class="navy">北京魔镜科技有限公司</span></strong><br/>
                    北京市昌平区天通中苑<br/>
                    <abbr title="座机">电话:</abbr> 010-57269849
                </address>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:hfeeki@qkldx.net" class="btn btn-primary">马上给我们发邮件</a>
                <!-- <p class="m-t-sm">
                    在社交平台上关注我们
                </p> 
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 北京魔镜科技有限公司</strong><br/></p>
            </div>
        </div>
    </div>

</section>