<article data-ng-controller="JobCtrl" class="job-single article gradient-5">
    <div class="header-wrapper container text-center">  
        <a class="nav-link" href="#jobs"><i class="fa fa-long-arrow-left"></i> 返回职位列表</a>            
        <h2 class="title">jobtitle</h2>
        <div class="meta">
            <ul class="list-inline">
                <li>全职</li>
                <li class="last">北京中关村</li>
            </ul>
        </div><!--//meta-->  
    </div><!--//container-->
    <section class="job-section container text-center">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                <div class="section-inner">                    
                    <markdown class="content text-left" src="jobdetailurl">
                    </markdown> 
                </div><!--//section-inner-->
            </div>
        </div><!--//row-->
    </section><!--//jobs-section-->    
</article><!--//article-->   