<article class="jobs article gradient-6">
    <div class="header-wrapper container text-center">                
        <h2 class="title">欢迎来北京魔镜工作</h2>
    </div><!--//container-->
    
    <section class="jobs-section container text-center">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                <div class="section-inner">
                    <h3 class="subtitle">当前职位空缺</h3>
                    <p class="intro">请发送您的简历到 <a href="#">jobs@mojing.io</a></p>
                    <div class="job-list-wrapper">
                        <div class="item">
                            <div class="item-inner">
                                <h4 class="job-title"><a href="#jobs/server">后台开发工程师</a></h4>
                                <div class="meta">
                                    <ul class="list-inline">
                                        <li>全职</li>
                                        <li class="last">北京中关村</li>
                                    </ul>
                                </div><!--//meta-->
                                <div class="excerpt">
                                    <p>如果你是一个资深的后台研发工程师，熟悉Linux, 熟悉golang、nodejs，熟悉git、github，热爱学习、勤于学习、善于学习，请加入我们！</p>
                                    <a class="more-link" href="#jobs/server">职位详情 <i class="fa fa-long-arrow-right"></i></a>
                                </div>       
                            </div><!--//item-inner-->                     
                        </div><!--//item-->
                        <div class="item">
                            <div class="item-inner">
                                <h4 class="job-title"><a href="#jobs/android">安卓开发工程师</a></h4>
                                <div class="meta">
                                    <ul class="list-inline">
                                        <li>全职</li>
                                        <li class="last">北京中关村</li>
                                    </ul>
                                </div><!--//meta-->
                                <div class="excerpt">
                                    <p>We are looking for fermentum dui ac velit placerat, nec sodales dui consequat. Donec lacus metus, facilisis et tellus sit amet, gravida scelerisque arcu aenean imperdiet. Etiam ultricies nisi vel augue...</p>
                                    <a class="more-link" href="#jobs/android">职位详情 <i class="fa fa-long-arrow-right"></i></a>
                                </div>       
                            </div><!--//item-inner-->                     
                        </div><!--//item-->
                        <div class="item">
                            <div class="item-inner">
                                <h4 class="job-title"><a href="#jobs/web">Web开发工程师</a></h4>
                                <div class="meta">
                                    <ul class="list-inline">
                                        <li>全职</li>
                                        <li class="last">北京中关村</li>
                                    </ul>
                                </div><!--//meta-->
                                <div class="excerpt">
                                    <p>We are looking for fermentum dui ac velit placerat, nec sodales dui consequat. Donec lacus metus, facilisis et tellus sit amet, gravida scelerisque arcu aenean imperdiet. Etiam ultricies nisi vel augue...</p>
                                    <a class="more-link" href="#jobs/web">职位详情 <i class="fa fa-long-arrow-right"></i></a>
                                </div>       
                            </div><!--//item-inner-->                     
                        </div><!--//item-->
                        <div class="item">
                            <div class="item-inner">
                                <h4 class="job-title"><a href="#jobs/designer">资深设计师</a></h4>
                                <div class="meta">
                                    <ul class="list-inline">
                                        <li>全职</li>
                                        <li class="last">北京中关村</li>
                                    </ul>
                                </div><!--//meta-->
                                <div class="excerpt">
                                    <p>We are looking for quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Pellentesque id congue nunc. Nulla faucibus lorem a magna fringilla, eget tristique turpis placerat. Morbi quis ex sed erat finibus imperdiet quis id elit. Fusce eget tincidunt nisl. Nam varius, eros vel lacinia sagittis...</p>
                                    <a class="more-link" href="#jobs/designer">职位详情 <i class="fa fa-long-arrow-right"></i></a>
                                </div>       
                            </div><!--//item-inner-->                     
                        </div><!--//item-->
                    </div><!--//job-list-wrapper-->
                </div><!--//section-inner-->
            </div>
        </div><!--//row-->
    </section><!--//jobs-list-->    
</article><!--//article-->  